@page
@model AboutModel
@{
    ViewData["Title"] = Resources.ApplicationTexts.AboutTitle;
}
<h2>@ViewData["Title"]</h2>

<p>@Resources.ApplicationTexts.AboutText</p>
<p>Jeżeli jesteś klientem i chciałbyś dowiedzieć się, jak odczytać kod QR - <a href="https://dqradca.azurewebsites.net/">przeczytaj tę instrukcję</a>.</p>
