@page
@model ContactModel
@{
    ViewData["Title"] = Resources.ApplicationTexts.ContactTitle;
}
<h2>@ViewData["Title"]</h2>

<address>
    <div>
        <p>
            Aplikacja na zlecenie firmy Paxer:
            <br />
            <img src="http://paxer.pl/wp-content/themes/paxer/images/logo.svg" />
        </p>
    </div>
    <br />
    <div>
        <p>
            Kontakt z programistą na: <a href="https://www.linkedin.com/in/konrad-niedzwiedzki/">LinkedIn</a><br />Lub poprzez stronę internetową: <a href="http://niedzwiedzki.net/">niedzwiedzki.net</a><br />
        </p>
    </div>
</address>