@page
@model IndexModel
@{
    ViewData["Title"] = Resources.ApplicationTexts.MainPageTitle;
}

<h2><img src="http://niedzwiedzki.net/wp-content/uploads/2020/02/logo1.png" height="42" width="201" /></h2>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <br />
    <p>Witaj na stronie aplikacji dQRadca!</p>
    <p>
        Jeżeli jesteś <strong>jednym z administratorów</strong> sklepu - przejdź do zakładki "Lista produktów" dostępnej w menu.
    </p>
    <p>
        Jeżeli <strong>jesteś jednym z klientów</strong> sklepu i chciałbyś sprawdzić opis produktu, <strong>wykonaj następujące czynności</strong>:
        <ul>
            <li>Uruchom aparat w swoim telefonie.</li>
            <li>Najedź aparatem na kod QR.</li>
            <li>Otwórz odczytany adres WWW producenta.</li>
        </ul>
    </p>

    <p>
        <strong>Jeżeli Twój telefon nie posiada wbudowanego skanera QR</strong>, wykonaj te czynności:
        <ul>
            <li>
                Wejdź na stronę:<br />
                <a href="https://www.the-qrcode-generator.com/scan">https://www.the-qrcode-generator.com/scan</a>
            </li>
            <li>Udziel dostępu aplikacji do aparatu.</li>
            <li>Najedź aparatem na kod QR.</li>
            <li>Otwórz odczytany adres WWW producenta.</li>
        </ul>
    </p>

</div>

<div class="row">

</div>
